.first,.second,.third{width:200px;padding:20px}.first{background-color:#ff7675}.second{background-color:#6c5ce7}.third{background-color:#fd79a8}
/*
//Placeholder or with Normal Extend
%placeholder{
	width: 200px;
	padding: 20px;
}


.first{
	@extend %placeholder;
	background-color: #ff7675;
}

.second{
	@extend %placeholder;
	background-color: #6c5ce7;
}

.third{
	@extend %placeholder;
	background-color: #fd79a8;
}
*/