@import "variables";
@import "nav";

html{
	font-size: 16px;
}

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.div_h1{
	background-color: $main-color;
	padding: 2rem;
	color: white;
	border: 1px ridge $border-color;
}

section{
	display: flex;

	.left{
		width: 80%;
		padding: 2rem;
		font-size: 1.2rem;
	}	
}



section .left h2{
	margin: 0.5rem 0;
}

section .left p{
	margin: 0.5rem 0;
}

section .right{
	width: 20%;
	padding: 2rem;	
	background-color: #228899;
}

footer{
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #451233;
	padding: 5.2rem;
	color: white;
}

footer span:hover{
	background-color: $main-color;
}

p::selection{
	background-color: $main-color;
}




